#hero{
    height: 29rem;
    background: url(../assets/bg-mobile.png) no-repeat center top;

    & header{
        justify-content: space-between;
        align-items: center;
    }

    & > div{
        margin-top: 3rem;
        text-align: center;
    }
}

.about{
    justify-content: center;
    padding-block: 2rem ;
    position: relative;

    & .ico-book{
        position: absolute;
        right: 3.5rem;
        
        & img{
            transform: rotate(30deg);
            width: 2.5rem;

            transition: transform 500ms ease, scale 500ms ease;

            &:hover{
                transform: rotate(38deg);
                scale: 1.1;
            }
        }
    }

    & .icon.flex{

        & img:nth-child(1){
            transform: rotate(-35deg);
            position: relative;
            bottom: 1rem;
            left: 1.5rem;

            width: 2rem;

            transition: transform 500ms ease, scale 500ms ease;

            &:hover{
                transform: rotate(-15deg);
                scale: 1.1;
            }
        }
        & img:nth-child(2){
            transform: rotate(15deg);
            position: absolute;
            right: 2rem;
            bottom: 2.5rem;

            width: 2.5rem;

            transition: transform 500ms ease, scale 500ms ease;

            &:hover{
                transform: rotate(0deg);
                scale: 1.1;
            }
        }
    }
    
    & p{
        text-align: center;
        padding-block: 0.5rem;
        width: 20rem;
    }
}

.feature{
    & header{
        text-align: center;
        position: relative;
        gap: .5rem;

        & > div{
            align-items: center;
            gap: .75rem;
            justify-content: center;

            & h2{
                color: var(--text-primary);
                font: var(--title-sm);
            }

            & img{
                width: 1.25rem;
            }
        }
        & small{

            color: var(--text-secondary);
            font: var(--text-sm);
        }
    }

    & .books{
        position: relative;
        margin-block: 4rem;
        height: 20rem;
        padding-inline: 0.5rem;

        & img:nth-child(1){
            position: absolute;
            width: 9.82rem;
            left: 50%;
            top: 50%;;
            transform: translate(-50%, -50%);
            z-index: 8;
        }
        & img:nth-child(2){
            position: absolute;
            width: 5.56rem;
            top: 2.2rem;
            left: 1rem;
            z-index: 7;
        }
        & img:nth-child(3){
            position: absolute;
            width: 5.56rem;
            bottom: 1rem;
            left: 2rem;

            z-index: 6;
        }
        & img:nth-child(4){
            position: absolute;
            width: 4rem;
            bottom: 5.5rem; 
            z-index: 5;
        }
        & img:nth-child(5){
            position: absolute;
            width: 4rem;
            top: 2.5rem;
            right: 2.8rem; 

            transform: rotate(10deg);
            z-index: 4;
        }
        & img:nth-child(6){
            position: absolute;
            width: 4rem;
            top: 4.5rem;
            right: 0.4rem; 

            transform: rotate(20deg);
            z-index: 3;
        }
        & img:nth-child(7){
            position: absolute;
            width: 4rem;
            bottom: 2rem;
            right: 1.3rem; 

            z-index: 2;
        }
    }
}

section + section{
    margin-top: 2rem;
}

@media (width >= 80em){
    #hero{
        background: url(../assets/bg.png) no-repeat center top;
        height: 50rem;

        & header{
            margin-inline: 7.5rem;
        }

        & > div{
            margin-inline: auto;
            margin-top: 10.25rem;
            width: 41rem;
        }
    }

    .about{
        padding-block: 5rem ;
        position: relative;
        & .ico-book{
            right: 50%;
            transform: translate(50%);

            & img{ 
                width: 5.5rem;
            }
        }

        & .icon.flex{
            & img:nth-child(1){
                transform: rotate(90deg);
                bottom: 0.5rem;
                left: 6.5rem;

                width: 5rem;

            &:hover{
                transform: rotate(110deg);
                scale: 1.1;
            }
            }
            & img:nth-child(2){
                transform: rotate(-15deg);
                right: 2rem;
                bottom: 6.5rem;

                width: 4.5rem;

            &:hover{
                transform: rotate(0deg);
                scale: 1.1;
            }
            }
        }
        
        & p{
            padding-block: 0.5rem;
            font: var(--subtitle);
            width: fit-content;
        }
        
    }

    .feature{
        padding-block: 5rem;

        & .books{
            height: 57.5rem;

            & img:nth-child(1){
                width: 29rem;
            }
            & img:nth-child(2){
                width: 15.875rem;
                top: 6rem;
                left: 11rem;
            }
            & img:nth-child(3){
                width: 12rem;
                bottom: 6rem;
                left: 16.5rem;
            }
            & img:nth-child(4){
                width: 7.875rem;
                bottom: 17rem; 
                left: 12.5rem;
            }
            & img:nth-child(5){
                width: 10.75rem;
                height: 33.5rem;
                top: 5.5rem;
                right: 17rem; 
                transform: rotate(10deg);
            }
            & img:nth-child(6){
                width: 10.75rem;
                height: 33.5rem;
                top: 12rem;
                right: 10.5rem; 
                transform: rotate(18deg);
            }
            & img:nth-child(7){
                width: 14.625rem;
                bottom: 2rem;
                right: 13rem; 
            }
        }
    }

    section + section{
        margin-top: 7.5rem;
    }
}
