.container{
    --max-width: 375px;
    width: var(--max-width);
    padding: var(--px-lg);
    margin-inline: auto;
}
.desktop-only{
    display: none;
}
@media (width >= 80em){
    .container{
        --max-width: 80em;
    }

    .desktop-only{
        display: grid;
    }
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
    font: var(--button);
    color: var(--text-primary);
}

body{
    background-color: var(--shape-bg);
}

.gap-1{
    gap: 1rem;
}

h1{
    font: var(--title-lg);
    color: var(--text-primary);
}
h2{
    color: var(--text-primary);
    font: var(--title-sm);
}
p{
    font: var(--text-md);
    color: var(--text-tertiary);
}

.flex{
    display: flex;
}
.grid{
    display: grid;
}
.card{
    background-color: var(--shape-base);
    border-radius: 1.5rem;
    border: 1px solid var(--shape-stroke);
    width: fit-content;
    padding: 2rem;
}

.cardPremium{
    background-color: var(--shape-hover);
    border-radius: 1.5rem;
    border: 1px solid var(--shape-stroke);
    width: fit-content;
    padding: 2rem;
    
    &:hover{
        box-shadow:
        0 0 15px var(--shape-stroke),
        0 0 25px var(--shape-stroke);
        
        transform: translateY(-0.5rem);
        
        z-index: 10;
    }
}

.btn-primary{
    padding: .75rem 1.25rem;
    background-color: var(--pink-dark);
    border-radius: .5rem;
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        transform: scale(0);
        transition : transform 0.4s ease;
        background-color: var(--pink-base);
        border-radius: inherit;

    }
    &:hover::before{
        transform: scale(1);
    }
}
.btn-secondary{
    padding: .75rem 1.25rem;
    background-color: var(--blue-dark);
    border-radius: .5rem;
    position: relative;
    text-align: center;
    
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        transform: scale(0);
        transition : transform 0.4s ease;
        background-color: var(--blue-mid);
        border-radius: inherit;

    }
    &:hover::before{
        transform: scale(1);
    }   
}